{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="cn">
	<head>
		<meta charset="utf-8">
		<title>网站后台管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'admin/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
		<link href="{% static 'admin/css/site.css' %}" rel="stylesheet">
		<!--[if lt IE 9]><script src="{% static 'admin/js/html5.js' %}"></script><![endif]-->
	</head>
	<body>
		<div class="container">
            <!-- 页头开始 -->
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="#">网站后台管理</a>
						<div class="nav-collapse">
							<ul class="nav pull-right">
								<li class="nav">
									<a href="javascript:;">@{{request.session.adminuser.name}}</a>
								</li>
								<li class="nav">
									<a href="{% url 'admin_logout' %}">退出</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- 页头结束-->
            
            <div class="row">
				<div class="span3">
                    <!-- 侧边导航开始 -->
					<div class="well" style="padding: 8px 0;">
						<ul class="nav nav-list">
							<li class="nav-header">
								导航栏
							</li>
							<li class="active">
								<a href="{% url 'admin_index'%}"><i class="icon-white icon-home"></i> 首页</a>
							</li>
                            <li class="nav-header">
								会员管理
							</li>
							<li>
								<a href="{% url 'admin_users_index' 1 %}"><i class="icon-folder-open"></i> 浏览会员</a>
							</li>
							<li>
								<a href="{% url 'admin_users_add' %}"><i class="icon-check"></i> 添加会员</a>
							</li>
							<li class="divider"></li>
							<li class="nav-header">
								商品类别管理
							</li>
							<li>
								<a href="{% url 'admin_type_index' %}"><i class="icon-envelope"></i> 浏览商品类别</a>
							</li>
							<li>
								<a href="{% url 'admin_type_add' 0 %}"><i class="icon-file"></i> 添加商品类别</a>
							</li>
							<li class="divider"></li>
							<li class="nav-header">
								商品信息管理
							</li>
							<li>
								<a href="{% url 'admin_goods_index' 1 %}"><i class="icon-user"></i> 浏览商品信息</a>
							</li>
							<li>
								<a href="{% url 'admin_goods_add'%}"><i class="icon-cog"></i> 添加商品信息</a>
							</li>
							<li class="divider"></li>
							<li class="nav-header">
								订单信息管理
							</li>
							<li>
								<a href="{% url 'admin_orders_index' %}"><i class="icon-picture"></i> 浏览所有订单</a>
							</li>
							<li>
								<a href="{% url 'admin_orders_index' %}?state=0"><i class="icon-stop"></i> 未处理订单</a>
							</li>
						</ul>
					</div><!-- 侧边导航结束 -->
				</div>
				<div class="span9">
                    <!-- 主体开始 -->
					{% block mainbody %}
					{% endblock %}
                    <!-- 主体结束 -->
				</div>
			</div>
		</div>
		<script src="{% static 'admin/js/jquery.min.js' %}"></script>
		<script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'admin/js/site.js' %}"></script>
	</body>
</html>